* {
	margin: 0;
	/* padding: 0; */
}

body {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: 2fr 2fr 1fr 1fr;
	grid-template-rows: 7fr 1fr;
	
	overflow: hidden;
}

canvas {
	z-index: -1;
	grid-column: 1 / 4;
	grid-row: 1 / 8;
	
}

#new_ship {
	z-index: 1;
	grid-column: 3 / 4;
	grid-row: 7 / 8;
}

#new_ship_code {
	overflow-y: scroll;
	z-index: 1;
	grid-column: 4 / 5;
	grid-row: 7 / 8;
}
